@model Chamou.Web.Models.Entities.Place

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Está certo disso? (leia com a voz do Silvio Santos)</h3>
<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterLongitude)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sim" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
